name: Test

on:
  push:
    branches:
      - dirtydev
      - master
      - dev
  pull_request:
    branches:
      - master

jobs:
  test-local-build:
    continue-on-error: True
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest, linux-latest]
        python-version: [3.8, 3.9, 3.10.x]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          pip install cython
          pip install pytest
          pip install mypy
          pip install build
          find . | grep -E "(\.pyx$)" | xargs cythonize -i
          python -m setup clean --all
          python -m build
          pip install --use-pep517 .
          
      - name: Run tests
        run: |
          python -c "import truconsts; print(truconsts.__VERSION__); from truconsts.constants import BaseConstants; truconsts.does_it_work()"

  test-local-pip-install:
    continue-on-error: True
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest, linux-latest]
        python-version: [3.8, 3.9, 3.10.x]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          
      - name: Run tests
        run: |
          pip install --use-pep517 .
          python -c "import truconsts; print(truconsts.__VERSION__); from truconsts.constants import BaseConstants; truconsts.does_it_work()"

  test-testpypi-install:
    continue-on-error: True
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest, linux-latest]
        python-version: [3.8, 3.9, 3.10.x]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          pip install cython
          pip install pytest
          pip install --index-url https://test.pypi.org/simple/ --extra-index-url https://pypi.org/simple truconsts
          
      - name: Run tests
        run: |
          cd ${{ github.workspace }}
          python -c "import truconsts; print(truconsts.__VERSION__); from truconsts.constants import BaseConstants; truconsts.does_it_work()"
          python -m pytest -vv .

  test-pypi-install:
    continue-on-error: True
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest, linux-latest]
        python-version: [3.8, 3.9, 3.10.x]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          pip install cython
          pip install pytest
          pip install truconsts
          
      - name: Run tests
        run: |
          cd ${{ github.workspace }}
          python -c "import truconsts; print(truconsts.__VERSION__); from truconsts.constants import BaseConstants; truconsts.does_it_work()"
          python -m pytest -vv .